<%= simple_form_for @user, url: profile_path, :method => :patch do |f| %>

    <div class="user-edit-info left-col">

        <h5>Personal information</h5>

        <%= f.input :name, label: 'Name', required: true, wrapper: :materialize_input %>

        <%= f.input :date_of_birth, as: :string, input_html: {class: 'datepicker'} %>

        <%= f.input :gender,
                    collection: ['gender', 'male', 'female'],
                    selected: (@user.gender != 'gender' ? @user.gender : 'gender'),
                    label: false,
                    wrapper: :materialize_input %>

        <%= f.input :country,
                    priority: ['US', 'RU', 'UA', 'BY', 'KZ'],
                    include_blank: 'Select a country',
                    label: 'Country'

        %>

        <%= f.input :city, label: 'City', wrapper: :materialize_input %>

        <%= f.input :bio,
                    label: 'About you',
                    as: :text,
                    required: false,
                    input_html: { class: 'materialize-textarea' },
                    wrapper: :materialize_input
        %>

        <h5>Social media:</h5>

        <%= f.input :social_link_fb,
                    label: 'Facebook profile' ,
                    wrapper: :materialize_input,
                    icon: '&#xe041;'
        %>

        <%= f.input :social_link_tw,
                    label: 'Twitter profile',
                    wrapper: :materialize_input,
                    icon: '&#xe040;'
        %>

        <%= f.input :social_link_vk,
                    label: 'Vk profile',
                    wrapper: :materialize_input,
                    icon: '&#xe01a;'
        %>

        <%= f.input :social_link_inst,
                  label: 'Instagram profile',
                  wrapper: :materialize_input,
                  icon: '&#xe057;'
        %>

    </div>
    <div class="user-edit-info right-col">

      <div class="userpic-preview">
          <%= link_to ('<i class="medium material-icons">delete</i>').html_safe,
                      '#userpic-delete-confirmation',
                      class: 'modal-trigger tooltipped delete',
                      data: {position: 'left', delay: '50', tooltip: 'Delete'}

          %>
        <%= image_tag @user.userpic.url(:medium) %>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Userpic</span>
          <%= f.input :userpic, as: :file, label: false %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path" type="text">
        </div>
      </div>

    </div>

    <div class="information-controls">
      <%= f.button :submit, 'Update information', input_html: { class: 'btn waves-effect waves-light' } %>
      <%= link_to 'Cancel', :back, class: 'btn waves-effect waves-light' %>
    </div>


    <div id="userpic-delete-confirmation" class="modal">
      <div class="modal-content">
        <h4>Are you sure?</h4>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="delete-userpic">Yes</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
      </div>
    </div>

<% end %>