<%

   #TODO: fix date picker
   #TODO: countrypicker

   %>

<h3>Edit profile</h3>
<ul class="tabs">
  <li class="tab col s2"><a href="#test1" class="active">Information</a></li>
  <li class="tab col s2"><a href="#test2">Account settings</a></li>
  <li class="tab col s2 disabled"><a href="#test3">more...</a></li>
</ul>

<div class="tab-content" id="test1">
  <%= render partial: 'form' %>
</div>
<div class="tab-content" id="test2">
  <%= render template: 'devise/registrations/edit' %>
</div>
