<h3>Hello, <%= @user.name %>!</h3>
<p><b>Your email:</b> <%= @user.email %> (visible only for you)</p>

<ul class="collection with-header">

  <li class="collection-header"><h5>Personal information</h5></li>
  <% if @user.date_of_birth? %>
  <li class="collection-item">
    <b>Your birthday:</b> <%= @user.date_of_birth.strftime('%d.%m.%Y') %>,
    (Age: <%= ((Time.now - @user.date_of_birth.to_time)/1.year).to_i %>)
  </li>
  <% end %>

  <% if @user.gender? && @user.gender != 'gender' %>
  <li class="collection-item"><b>Your gender:</b> <%= @user.gender %></li>
  <% end %>

  <% if @user.country? || @user.city? %>
  <li class="collection-item">
    <b>Your location:</b> <%= @user.country? ? (@user.country_name) : '' %> <%= @user.city? ? @user.city : '' %>
  </li>
  <% end %>

  <% if @user.bio? %>
  <li class="collection-item">
    <b>About You:</b><br>
    <%= @user.bio %>
  </li>
  <% end %>

</ul>

