<h5>Edit account</h5>

<%= simple_form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                autocomplete: 'off',
                hint: 'leave it blank if you don`t want to change it',
                required: false,
                label: 'New password'
    %>
    <%= f.input :password_confirmation,
                required: false,
                label: 'New password confirmation'
    %>
    <%= f.input :current_password, hint: 'we need your current password to confirm your changes', required: true %>
  </div>

    <div class="information-controls">
      <%= f.button :submit, 'Update', input_html: { class: 'btn waves-effect waves-light' } %>
      <%= link_to 'Cancel', :back, class: 'btn waves-effect waves-light' %>
    </div>

<% end %>

