<div class="card">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="card-content">
    <span class="card-title">Sign up</span>
    <p>
        <%= f.error_notification %>

        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :name, required: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>

    </p>
  </div>
  <div class="card-action">
    <%= f.button :submit, 'Sign up' %>
    <%= render partial: 'devise/shared/links' %>
  </div>
  <% end %>
</div>