// Place all the styles related to the dashboard/achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit/new

.achievement-form {

  .taglist {
    height: 450px;
    overflow-y: scroll;
  }

  .categorylist {
    height: 790px;
    overflow-y: scroll;
  }

  .ok {
    padding-top: 20px;
    border-top: 1px solid grey;
  }


}
