// Place all the styles related to the dashboard/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//add button
.floating-button {
  position: absolute;
  bottom: 45px;
}

//Categories list
.collection {

  .collection-item {
    .title {
      font-weight: bold;
    }

    p {

      span {
        font-size: 75%;
        color: gray;
      }
    }

    .secondary-content {
      .material-icons {
        &.view {}
        &.edit {}
        &.delete {
          color: #f44336;
        }

      }
    }

  }

}