//global


//header
nav {

  background: #4a148c;

  .nav-wrapper {

    padding: 0 10px;

    .brand-logo {

      span {
        font-size: 50%;
      }

    }

    .dropdown-button {
      &.actions {width: 140px;}
    }

  }
}



//sidebar


//main layout
//notices
.flash-message {

  position: absolute;
  width: 250px;
  top: 75px;
  right: 45px;
  opacity: .7;

  .system-message {

    margin-bottom: 5px;
    position: relative;
    top: 25px;
    opacity: 0;
    transition: opacity .5s ease-in, top .5s ease-in;

    &.notice {
      background: #4caf50;
    }
    &.warning {
      background: #f44336;
    }

    .close-this {
      position: absolute;
      top: 5px; right: 5px;
      cursor: pointer;
    }
  }
}

//error fields

$error-color: #F44336;

.input-field {
  .field_with_errors {
    input[type=text] {
      border-bottom: 1px solid $error-color;
      box-shadow: 0 1px 0 0 $error-color;
    }

    textarea {
      border-bottom: 1px solid $error-color;
      box-shadow: 0 1px 0 0 $error-color;
    }

    span.error {
      position: relative;
      top: -15px;
      font-size: 0.8rem;
      color: $error-color;
    }
  }


}



//footer


