// Place all the styles related to the dashboard/medals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Medals form
.medal-form {

  .tabs {
    overflow-x: hidden;
  }

  .tabs-content {
    //height: 450px;
    //overflow-y: scroll;
    padding-top: 10px;

    .collapsible {
      .collapsible-header {
        min-height: 32px;
        line-height: 32px;

        img {
          width: 32px;
          height: 32px;
          vertical-align: middle;
        }
      }
      .collapsible-body {}

    }


  }

  .categorylist {
    height: 790px;
    overflow-y: scroll;
  }

  .ok {
    padding-top: 20px;
    border-top: 1px solid grey;
  }


}
