// Place all the styles related to the dashboard/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//add button
.floating-button {
  position: absolute;
  bottom: 45px;
}

.chip {

  margin: 0 5px 5px 0;

  span {font-weight: bold;}

  .material-icons {

    &.view {}
    &.edit {}
    &.delete {
      color: #f44336;
    }
  }
}
