<h3><%= @user.name %> Achievements</h3>
<div class="achievements">
<% @achievements.each do |achievement| %>
  <div class="achievement">
    <div class="card">
      <div class="card-image">
        <%= image_tag achievement.achievement_icon.url(:large) %>
        <span class="card-title"><%= achievement.title %></span>
      </div>
      <div class="card-content">
        <p><%= achievement.description %></p>
        (<%= achieved_date @user, achievement %>)
      </div>
      <div class="card-action">
        <%= link_to ('<i class="material-icons">info_outline</i>').html_safe,
                    user_achievement_path(@user.id, achievement.id),
                    class: 'info'
        %>
      </div>
    </div>
  </div>

<% end %>
</div>
<p><%= paginate @achievements %></p>
