<h3><%= @achievement.title %></h3>
<div class="row user-item">
  <div class="col s12 l6 m6 item-image">
    <%= link_to (image_tag @achievement.achievement_icon.url(:large), class: 'responsive-img'),
                achievement_path(@achievement.id)
    %>
  </div>
  <div class="col s12 l6 m6 item-info">
    <p class="date"><%= achieved_date @user, @achievement %></p>
    <p>
      <h5>Description</h5>
      <%= @achievement.description %>
    </p>
    <% if proof.have_proof? %>
      <% case proof.proof_type %>
        <% when 'Text' %>
          <h5>Proof text</h5>
          <p class="proof">
            <%= sanitize(strip_tags(proof.proof)) %>
          </p>
        <% when 'Link' %>
          <p class="proof link">
            <%= link_to ('<i class="material-icons">link</i> Proof here').html_safe, proof.proof,
                        class: 'proof-link',
                        target: '_blank'
            %>
          </p>
        <% when 'Image' %>
          <h5>Proof image</h5>
          <p class="proof">
            <%= image_tag proof.proof_image.url(:large), class: 'responsive-img' %>
          </p>
        <% end %>
    <% end %>
    <div class="item-more-info">
      <%= link_to 'More info', achievement_path(@achievement.id), class: 'waves-effect waves-light btn' %>
    </div>

  </div>
</div>
