<div class="users">
<% @users.each do |user| %>
  <div class="user-card">
    <div class="card-panel">
      <div class="row">
        <div class="col s4">
          <%=
            link_to(user_path(user.id)) do
              image_tag user.userpic.url(:thumb), alt: '', class: 'circle responsive-img'
            end
          %>
        </div>
        <div class="col s8">
          <h5><%= user.name %></h5>
          <%= link_to 'Open profile',
              user_path(user.id),
              class: 'waves-effect waves-light btn'
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
