<h3><%= @user.name %></h3>
<ul class="collection">
  <% if @user.date_of_birth? %>
  <li class="collection-item">
    <b>Birthday:</b> <%= @user.date_of_birth.strftime('%d.%m.%Y') %>,
    (Age: <%= ((Time.now - @user.date_of_birth.to_time)/1.year).to_i %>)
  </li>
  <% end %>

  <% if @user.gender? && @user.gender != 'gender' %>
  <li class="collection-item"><b>Gender:</b> <%= @user.gender %></li>
  <% end %>

  <% if @user.country? || @user.city? %>
  <li class="collection-item">
    <b>Location:</b> <%= @user.country? ? (@user.country_name) : '' %> <%= @user.city? ? @user.city : '' %>
  </li>
  <% end %>

  <% if @user.bio? %>
  <li class="collection-item">
    <b>About:</b><br>
    <%= @user.bio %>
  </li>
  <% end %>

</ul>

<h4>Medals (<%= link_to user_medals(@user).count, user_medals_path(@user.id) %>)</h4>
<p>
<% user_medals(@user).each do |m| %>
  <%= link_to (image_tag m.medal.medal_icon.url(:thumb)),
      user_medal_path(@user.id, m.medal.id)
  %>
<% end %>
</p>

<h4>Achievements (<%= link_to user_achievments(@user).count, user_achievements_path(@user.id) %>)</h4>
<p>
<% user_achievments(@user).each do |a| %>
  <%= link_to (image_tag a.achievement.achievement_icon.url(:thumb)),
      user_achievement_path(@user.id, a.achievement.id)
  %>
<% end %>
</p>

<h4>Challenges</h4>
<p>// Challenges here</p>
