<h5>Change your password</h5>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: 'New password', required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: 'Confirm your new password', required: true %>
  </div>

  <div class="information-controls">
    <%= f.button :submit, 'Change my password' %>
    <%= link_to 'Cancel', :back, class: 'btn waves-effect waves-light' %>
  </div>
<% end %>
