<div class="card">
  <div class="card-content">
    <span class="card-title">Forgot your password?</span>
    <p>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :email, required: true, autofocus: true %>

          <%= f.button :submit, 'Send me reset password instructions' %>
    <% end %>
    </p>
  </div>
  <div class="card-action">
    <%= render partial: 'devise/shared/links' %>
  </div>
</div>
