<%= simple_form_for [:dashboard, @category] do |f| %>

<div class="input-field">
  <%= f.input :title, label: 'Title' %>
</div>

<div class="input-field">
    <%= f.input :slug, label: 'Slug' %>
</div>

<div class="file-field input-field">
    <div class="btn">
        <span>Category Icon</span>
        <%= f.input :category_icon, as: :file, label: false %>
    </div>
    <div class="file-path-wrapper">
        <input class="file-path" type="text">
    </div>
</div>

<div class="input-field">
    <%= f.input :description,
                label: 'Description',
                as: :text,
                required: false,
                input_html: { class: 'materialize-textarea' }
    %>
</div>

<%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

<%= params[:action] != 'index' ? (link_to 'Cancel', dashboard_categories_path, class: 'btn waves-effect waves-light') : '' %>

<% end %>