<ul class="collection">
  <% @categories.each do |category| %>

    <li class="collection-item avatar">
        <%= image_tag category.category_icon.url(:small), class: 'circle' %>
        <span class="title"><%= category.title %></span>
        <p>
          <%= category.description.html_safe %> <br>
          <span>/<%= category.slug %></span>
        </p>
        <div class="secondary-content">
            <%= link_to ('<i class="material-icons view">info_outline</i>').html_safe,
                      dashboard_category_path(category.id), target: '_blank' %>
            <%= link_to ('<i class="material-icons edit">mode_edit</i>').html_safe,
                      edit_dashboard_category_path(category.id) %>
            <%= link_to ('<i class="material-icons delete">delete</i>').html_safe,
                      dashboard_category_path(category.id),
                      method: 'delete',
                      data: { confirm: 'Are you sure?' },
                      class: 'delete'
            %>
        </div>
    </li>

  <% end %>
</ul>