<div class="row">

  <div class="col s6">
    <h3>Categories</h3>
    <%= render :partial => 'list' %>
    <p><%= paginate @categories %></p>
  </div>
  <div class="col s6">
    <h3>Add New</h3>
    <%= render :partial => 'form' %>

    <%= link_to ('<i class="material-icons">add</i>').html_safe,
                new_dashboard_category_path,
                class: 'btn-floating btn-large waves-effect waves-light red floating-button'
    %>
  </div>
</div>
