<h1>Dashboard::Categories#show</h1>

<h2>
  <%= @category.title %>
</h2>
Slug: <i><%= @category.slug %></i><br>
Icon: <%= image_tag @category.category_icon.url(:small) %>
<p><%= @category.description %></p>
