<% if user_signed_in? %>
<div class="small-user-card">
  <div class="card-panel">
    <div class="row">
      <div class="col s4">
        <%=
          link_to(user_path(@user.id)) do
            image_tag @user.userpic.url(:thumb), alt: '', class: 'circle responsive-img'
          end
        %>
      </div>
      <div class="col s8">
        <h5><%= link_to @user.name, user_path(@user.id) %></h5>
      </div>
    </div>
  </div>
</div>
<% end %>
<h5 class="cats-tags">Categories</h5>
<div class="categories collection">
  <%= link_to 'All', "/#{params[:controller]}", class: 'collection-item' %>
  <% @cats.each do |cat| %>
    <%= link_to cat.title, "/#{params[:controller]}?cat=#{cat.id}", class: 'collection-item' %>
  <% end %>
</div>

<% unless params[:controller] == 'challenges' %>
<h5 class="cats-tags">Popular Tags</h5>
<div class="tags">
  <% @tags.each do |tag| %>
  <div class="chip">
    <%= link_to tag.name, "/#{params[:controller]}?tag=#{tag.id}" %>
  </div>
  <% end %>
</div>
<div class="divider"></div>
<%= link_to 'All tags', '#' %>
<% end %>
