<div class="card">
  <div class="card-image">
    <%= image_tag @user.userpic.url(:medium) %>
  </div>
  <div class="card-content">
    <span class="card-title"><%= link_to @user.name, user_path(@user.id) %></span>
    <p>
      <% if @user.social_link_fb? %>
      <%= link_to '', @user.social_link_fb, target: '_blank',
                  class: 'socbutton socicon socicon-facebook'
      %>
      <% end %>

      <% if @user.social_link_vk? %>
          <%= link_to '', @user.social_link_vk, target: '_blank',
                      class: 'socbutton socicon socicon-vkontakte'
          %>
      <% end %>

      <% if @user.social_link_tw? %>
          <%= link_to '', @user.social_link_tw, target: '_blank',
                      class: 'socbutton socicon socicon-twitter'
          %>
      <% end %>

      <% if @user.social_link_inst? %>
          <%= link_to '', @user.social_link_inst, target: '_blank',
                      class: 'socbutton socicon socicon-instagram'
          %>
      <% end %>

    </p>
  </div>
  <% if current_user.id == @user.id %>
  <div class="card-action edit-login-buttons">
    <%= link_to ('<i class="material-icons">create</i>'.html_safe),
                edit_profile_path,
                class: 'edit-profile tooltipped not-link',
                data: {position: 'bottom', delay: '50', tooltip: 'Edit profile'}
    %>
    <%= link_to ('<i class="material-icons">exit_to_app</i>').html_safe,
                :destroy_user_session,
                method: 'delete',
                class: 'logout-profile tooltipped not-link',
                data: {position: 'bottom', delay: '50', tooltip: 'Logout'}
    %>
  </div>
  <% end %>
</div>


<div>

</div>
