<header>

  <nav>
    <div class="nav-wrapper container">
      <%= link_to ('<i class="material-icons left">timeline</i> ProgressBook').html_safe,
          root_path,
          class: 'brand-logo'
      %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Achievements', achievements_path %></li>
        <li><%= link_to 'Medals', medals_path %></li>
        <li><%= link_to 'Challenges', challenges_path %></li>
      </ul>
    </div>
  </nav>

</header>
