<div class="flash-message">
  <% flash.each do |name, msg| -%>
      <div class="card-panel system-message <%= name %>">
        <span class="white-text"><%= msg %></span>
        <i class="material-icons white-text close-this">close</i>
      </div>
  <% end -%>
</div>

