<div class="row medal-form">
<%= simple_form_for [:dashboard, @medal] do |f| %>

<div class="col s12 m8 l8">

  <div class="input-field">
    <%= f.input :title, label: 'Title' %>
  </div>

  <div class="input-field">
      <%= f.input :slug, label: 'Slug' %>
  </div>

  <div class="input-field">
      <%= f.input :description,
                  label: 'Description',
                  as: :text,
                  required: false,
                  input_html: { class: 'materialize-textarea' }
      %>
  </div>

  <div class="file-field input-field">
      <div class="btn">
          <span>Medal Icon</span>
          <%= f.input :medal_icon, as: :file, label: false %>
      </div>
      <div class="file-path-wrapper">
          <input class="file-path" type="text">
      </div>
  </div>

  <ul class="tabs">
    <li class="tab"><a class="active" href="#achs">Achievements</a></li>
    <li class="tab"><a href="#tags">Tags</a></li>
  </ul>

  <div class="tabs-content">

    <div class="achievementslist" id="achs">
      <input type="hidden" name="medal[achievement_ids][]" value="">
      <ul class="collapsible" data-collapsible="expandable">
        <% @categories.each do |cat| %>
        <li>
          <div class="collapsible-header"><%= image_tag cat.category_icon.url(:small) %> <%= cat.title %></div>
          <div class="collapsible-body row">
            <% cat.achievements.order(id: :desc).each do |ach| %>

              <div class="col s3 m3 l3">
                <div class="card">
                  <div class="card-image">
                    <%= image_tag ach.achievement_icon.url(:medium) %>
                    <span class="card-title"><%= ach.title %></span>
                  </div>
                  <div class="card-action">
                    <%= check_box_tag 'medal[achievement_ids][]',
                                      ach.id,
                                      @medal.achievements.include?(ach),
                                      class: 'filled-in',
                                      id: "medal_achievement_ids_#{ach.id}_#{cat.id}"
                    %>
                    <label for="medal_achievement_ids_<%= ach.id %>_<%= cat.id %>">
                      <%= ach.title %>
                    </label>
                  </div>
                </div>
              </div>

            <% end %>

          </div>

        </li>
        <% end %>
      </ul>

    </div>

    <div class="taglist" id="tags">
      <input type="hidden" name="medal[tag_ids][]" value="">
      <% @tags.each do |tag| %>
      <div class="chip">
        <%= check_box_tag 'medal[tag_ids][]',
                          tag.id,
                          @medal.tags.include?(tag),
                          class: 'filled-in',
                          id: "medal_tag_ids_#{tag.id}"
        %>
        <label for="medal_tag_ids_<%= tag.id %>">
          <%= tag.name %>
        </label>
      </div>
      <% end %>
    </div>

  </div>

</div>
<%
 # TODO: to forms wrapper. Use association
%>

<div class="col s12 m4 l4 categorylist">

  <input type="hidden" name="medal[category_ids][]" value="">
  <ul class="collection">
  <% @categories.each do |category| %>
    <li class="collection-item avatar">
      <%= image_tag category.category_icon.url(:small), alt: '', class: 'circle' %>
    <span class="title">
      <%= check_box_tag 'medal[category_ids][]',
                        category.id,
                        @medal.categories.include?(category),
                        id: "medal_category_ids_#{category.id}"
      %>
      <label for="medal_category_ids_<%= category.id %>">
        <%= category.title %>
      </label>
    </span>
    <p><%= category.description %></p>
    </li>
  <% end %>
  </ul>

</div>

<div class="col s12 m12 l12 ok">
  <%= f.button :submit %>
  <%= link_to 'Cancel', dashboard_medals_path, class: 'cancel' %>
</div>
<% end %>
</div>
