<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Slug</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <% @medals.each do |medal| %>
      <tr>
        <td><%= image_tag medal.medal_icon.url(:small) %></td>
        <td><%= medal.title %></td>
        <td><%= medal.slug %></td>
        <td><%= medal.description.html_safe %></td>
        <td>
          <%= link_to 'Show', dashboard_medal_path(medal.id), target: '_blank' %>
          <%= link_to 'Edit',   edit_dashboard_medal_path(medal.id) %>
          <%= link_to 'Delete',
                      dashboard_medal_path(medal.id),
                      method: 'delete',
                      data: { confirm: 'Are you sure?' },
                      class: 'delete'
          %>
        </td>
      </tr>
  <% end %>

</table>