<div class="medals">
<% @medals.each do |medal| %>
  <div class="medal">
    <div class="card">
      <div class="card-image">
        <%= link_to medal.achievements.count, medal_path(medal.id),
            class: 'achievements-count tooltipped',
            data: {position: 'bottom', delay: '50', tooltip: 'achievements'}
        %>
        <%= image_tag medal.medal_icon.url(:large), class: 'responsive-img' -%>
        <span class="card-title"><%= medal.title %></span>
      </div>
      <div class="card-content">
        <p><%= medal.description %></p>
        <div class="user-progress">
          <% unless user_signed_in? && (medal.user_ids.include? @user.id) %>
          <b>Your progress: <%= achievements_count medal, @user  %>/<%= medal.achievements.count %></b>
          <div class="progress">
            <div class="determinate" style="width: <%= medal_user_percent medal, @user %>" %>"></div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="card-action">
        <% if achievements_count(medal, @user) == medal.achievements.count %>
          <% if medal.user_ids.include? @user.id %>
          <%= link_to ('<i class="material-icons left">done_all</i>Done').html_safe,
                      user_medal_path(@user.id, medal.id),
                      class: 'done'
          %>
          <% else %>
            <%= link_to ('<i class="material-icons">check</i>').html_safe,
                        medal_path(medal.id),
                        method: :put,
                        class: 'get'
            %>
          <% end %>
        <% else %>
        <span class="get tooltipped disabled"
              data-position='top',
              data-delay='50',
              data-tooltip='Achievements left: <%= medal.achievements.count - achievements_count(medal, @user) %>'
              >
          <i class="material-icons">check</i>
        </span>
        <% end %>

        <%= link_to ('<i class="material-icons">info_outline</i>').html_safe,
                    medal_path(medal.id),
                    class: 'info'
        %>
      </div>
    </div>
  </div>
<% end %>
</div>
