<div class="single-medal">
  <div class="icon">
    <%= image_tag @medal.medal_icon.url(:large), alt: @medal.title %>
  </div>
  <div class="description">
    <h3><%= @medal.title %></h3>
    <p><b>Categories:</b>
      <% @medal.categories.each do |cat| %>
        <%= link_to cat.title, medals_path(cat: cat.id) %>
      <% end %>
    </p>
    <p><b>Tags:</b>
      <% @medal.tags.each do |tag| %>
        <%= link_to tag.name, medals_path(tag: tag.id) %>
      <% end %>
    </p>
    <p><%= @medal.description %></p>
    <p class="medal-achievements"><b>Achievements:</b><br />
      <% @medal.achievements.each do |ach| %>
        <% if ach.users.exists? @user %>
        <%= link_to(user_achievement_path(@user.id, ach.id),
                    class: 'tooltipped completed',
                    target: '_blank',
                    data: {
                      position: 'top',
                      delay:'50',
                      tooltip: "#{ach.title} completed"
                    }) do %>
            <%= image_tag ach.achievement_icon.url(:thumb) %>
            <i class="material-icons left">done_all</i>
        <% end %>
        <% else %>
        <%= link_to (image_tag ach.achievement_icon.url(:thumb)),
                    achievement_path(ach.id),
                    class: 'tooltipped',
                    target: '_blank',
                    data: {
                      position: 'top',
                      delay:'50',
                      tooltip: ach.title
                    }
        %>
        <% end %>
      <% end %>
    </p>
    <% unless user_signed_in? && (@medal.user_ids.include? @user.id) %>
      <b>Your progress: <%= achievements_count @medal, @user  %>/<%= @medal.achievements.count %></b>
      <div class="progress">
        <div class="determinate" style="width: <%= medal_user_percent @medal, @user %>" %>"></div>
      </div>
    <% end %>

    <div class="controls">

      <% if achievements_count(@medal, @user) == @medal.achievements.count %>
        <% if @medal.user_ids.include? @user.id %>
          <%= link_to ('<i class="material-icons left">done_all</i>Done').html_safe,
                      user_medal_path(@user.id, @medal.id),
                      class: 'done'
          %>
        <% else %>
          <%= link_to ('<i class="material-icons left">done</i> Get it!').html_safe,
                      medal_path(@medal.id),
                      method: :put,
                      class: 'get'
          %>
        <% end %>
      <% else %>
      <span class="get tooltipped disabled"
            data-position='top',
            data-delay='50',
            data-tooltip='Achievements left: <%= @medal.achievements.count - achievements_count(@medal, @user) %>'
            >
        <i class="material-icons">check</i>
      </span>
      <% end %>

      <%= link_to 'Cancel', medals_path, class: 'cancel' %>
    </div>

    <h5>Who got it</h5>
    <div class="progress-percent"><%= medal_percent @medal %> off all users</div>
    <div class="progress">
      <div class="determinate" style="width: <%= medal_percent @medal %>"></div>
    </div>

    <div class="user-achieved-list">
      <% medal_last_twelve(@medal).each do |lt| %>
      <%= link_to (image_tag lt.user.userpic.url(:thumb), class: 'circle'),
          user_path(lt.user.id),
          class: 'tooltipped',
          data: { position: 'top', delay: '25', tooltip: lt.user.name }
      %>
      <% end %>
      <%= medal_and_more @medal %>
    </div>

  </div>

</div>
