<div class="single-medal get-it">
    <div class="icon">
      <%= image_tag @medal.medal_icon.url(:large), alt: @medal.title %>
    </div>
    <div class="description">

    <h3>Congrats, you get medal "<%= @medal.title %>"</h3>
    <h4>Tell your friends about this</h4>
    <p>Share in social media</p>
    <%= link_to 'Back', medals_path %>

    </div>

</div>
