<h3><%= @user.name %> Medals</h3>
<div class="medals">
<% @medals.each do |medal| %>
  <div class="medal">
    <div class="card">
      <div class="card-image">
        <%= image_tag medal.medal_icon.url(:large), class: 'responsive-img' -%>
        <span class="card-title"><%= medal.title %></span>
      </div>
      <div class="card-content">
        <p><%= medal.description %></p>
        (<%= medaled_date @user, medal %>)
      </div>
      <div class="card-action">
        <%= link_to ('<i class="material-icons">info_outline</i>').html_safe,
                    user_medal_path(@user.id, medal.id),
                    class: 'info'
        %>
      </div>
    </div>
  </div>
<% end %>
</div>
<p><%= paginate @medals %></p>
