<h3><%= @medal.title %></h3>
<div class="row user-item">
  <div class="col s12 l6 m6 item-image">
    <%= link_to (image_tag @medal.medal_icon.url(:large), class: 'responsive-img'), medal_path(@medal.id) %>
  </div>
  <div class="col s12 l6 m6 item-info">
    <p class="date"><%= medaled_date @user, @medal %></p>
    <p>
      <h5>Description</h5>
      <%= @medal.description %>
    </p>
    <div>
      <h5>Achievements</h5>
      <% @medal.achievements.each do |ach| %>
        <%= link_to (image_tag ach.achievement_icon.url(:thumb)), user_achievement_path(@user.id, ach.id) %>
      <% end %>
    </div>
    <div class="item-more-info">
      <%= link_to 'More info', medal_path(@medal.id), class: 'waves-effect waves-light btn' %>
    </div>

  </div>
</div>
