<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="next <%= 'disabled' if current_page.last? %>">
  <%= link_to ('<i class="material-icons">chevron_right</i>').html_safe,
              current_page.last? ? '#' : url,
              :rel => 'next',
              :remote => remote
  %>
</li>
