<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true, wrapper: :materialize_input %>
      <%= f.input :password, required: false, wrapper: :materialize_input %>

      <p class="remember">
        <%= check_box_tag :remember_me %>
        <label for="remember_me">Remember me</label>
      </p>

    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Log in' %>
    </div>
<% end %>