<div class="card">
  <div class="card-content">
    <span class="card-title">Log in</span>
    <p>
      <%= render partial: 'devise/sessions/form' %>
    </p>
  </div>
  <div class="card-action">
    <%= render partial: 'devise/shared/links' %>
  </div>
</div>


