<%= simple_form_for [:dashboard, @tag] do |f| %>

<div class="input-field">
  <%
    #FIXME: :name to :title (migration, model, controller, views)
  %>
  <%= f.input :name, label: 'Title' %>
</div>

<div class="input-field">
    <%= f.input :description,
                label: 'Description',
                as: :text,
                required: false,
                input_html: { class: 'materialize-textarea' }
    %>
</div>

<%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

<%= params[:action] != 'index' ? (link_to 'Cancel', dashboard_tags_path, class: 'btn waves-effect waves-light') : '' %>

<% end %>