<% @tags.each do |tag| %>
  <div class="chip">
    <span><%= tag.name %></span>
    <%= link_to ('<i class="material-icons delete">delete</i>').html_safe,
                dashboard_tag_path(tag.id),
                method: 'delete',
                data: { confirm: 'Are you sure?' },
                class: 'delete'
    %>
    <%= link_to ('<i class="material-icons edit">mode_edit</i>').html_safe,
                edit_dashboard_tag_path(tag.id) %>
    <%= link_to ('<i class="material-icons view">info_outline</i>').html_safe,
                dashboard_tag_path(tag.id), target: '_blank' %>
  </div>
<% end %>