<div class="row">
  <div class="col s8">
    <h3>Tags</h3>
    <%= render :partial => 'list' %>
  </div>
  <div class="col s4">
    <h3>Add New</h3>
    <%= render :partial => 'form' %>

    <%= link_to ('<i class="material-icons">add</i>').html_safe,
                new_dashboard_tag_path,
                class: 'btn-floating btn-large waves-effect waves-light red floating-button'
    %>
  </div>
</div>
