<div class="row achievement-form">
  <%= simple_form_for [:dashboard, @achievement] do |f| %>
  <div class="col s12 m8 l8">

    <div class="input-field">
      <%= f.input :title, label: 'Title' %>
    </div>

    <div class="input-field">
        <%= f.input :slug, label: 'Slug' %>
    </div>

    <div class="input-field">
        <%= f.input :description,
                    label: 'Description',
                    as: :text,
                    required: false,
                    input_html: { class: 'materialize-textarea' }
        %>
    </div>

    <div class="file-field input-field">
        <div class="btn">
            <span>Achievement Icon</span>
            <%= f.input :achievement_icon, as: :file, label: false %>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path" type="text">
        </div>
    </div>

    <div class="taglist">
      <input type="hidden" name="achievement[tag_ids][]" value="">
      <% @tags.each do |tag| %>
      <div class="chip">
        <%= check_box_tag 'achievement[tag_ids][]',
                          tag.id,
                          @achievement.tags.include?(tag),
                          class: 'filled-in',
                          id: "achievement_tag_ids_#{tag.id}"
        %>
        <label for="achievement_tag_ids_<%= tag.id %>">
          <%= tag.name %>
        </label>
      </div>
      <% end %>
    </div>

  </div>
  <%
   # TODO: to forms wrapper. Use association
  %>

  <div class="col s12 m4 l4 categorylist">

    <input type="hidden" name="achievement[category_ids][]" value="">
    <ul class="collection">
    <% @categories.each do |category| %>
      <li class="collection-item avatar">
        <%= image_tag category.category_icon.url(:small), alt: '', class: 'circle' %>
      <span class="title">
        <%= check_box_tag 'achievement[category_ids][]',
                          category.id,
                          @achievement.categories.include?(category),
                          id: "achievement_category_ids_#{category.id}"
        %>
        <label for="achievement_category_ids_<%= category.id %>">
          <%= category.title %>
        </label>
      </span>
      <p><%= category.description %></p>
      </li>
    <% end %>
    </ul>

  </div>

  <div class="col s12 m12 l12 ok">
    <%= f.button :submit %>
    <%= link_to 'Cancel', dashboard_achievements_path, class: 'cancel' %>
  </div>

<% end %>
</div>
