<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Slug</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <% @achievements.each do |achievement| %>
      <tr>
        <td><%= image_tag achievement.achievement_icon.url(:small) %></td>
        <td><%= achievement.title %></td>
        <td><%= achievement.slug %></td>
        <td><%= achievement.description.html_safe %></td>
        <td>
          <%= link_to 'Show', dashboard_achievement_path(achievement.id), target: '_blank' %>
          <%= link_to 'Edit',   edit_dashboard_achievement_path(achievement.id) %>
          <%= link_to 'Delete',
                      dashboard_achievement_path(achievement.id),
                      method: 'delete',
                      data: { confirm: 'Are you sure?' },
                      class: 'delete'
          %>
        </td>
      </tr>
  <% end %>

</table>