<h1>Dashboard::Achievement#show</h1>

<h2>
  <%= @achievement.title %>
</h2>
<i><%= @achievement.slug %></i>
<p><%= @achievement.description %></p>

<div>
  <%= image_tag @achievement.achievement_icon.url(:medium) %>
</div>
