<%= simple_form_for @challenge do |f| %>

<div class="input-field">
  <%= f.input :title, label: 'Title' %>
</div>

<%= f.association :category %>

<div class="input-field">
    <%= f.input :description,
                label: 'Description',
                as: :text,
                required: false,
                input_html: { class: 'materialize-textarea' }
    %>
</div>

<%= f.input :days_for_complete,
            as: :range,
            input_html: {
              value: 30,
              min: 0,
              max: 90,
              class: '',
              id: 'days_for_complete'
            },
            required: true,
            wrapper: :range
%>

<%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

<%= (link_to 'Cancel', challenges_path, class: 'btn waves-effect waves-light') %>

<% end %>
