.achievements {
  @extend .row;

  .achievement {
    @extend .col, .s6, .m4, .l4;

    .card {

      .card-title {
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
      }

      .card-action {


        a {

          @extend .white-text, .waves-effect, .waves-light, .btn;

          i {}

          &.get {
            @extend .light-green;

          }
          &.info {
            @extend .blue;
            padding: 0 .5rem;
          }

        }

        .done {
          @extend .btn, .green-text, .text-darken-2, .white, .z-depth-1;
          margin-right: 20px;
          padding: 0 .5rem;
          box-shadow: none;

          &:hover {
            box-shadow: none;
          }
        }

      }

    }

  }
}

.single-achievement {

  @extend .row;

  .icon {

    @extend .col, .s12, .m4, .l4;

    img {

      @extend .responsive-img;

    }

  }

  .description {

    @extend .col, .s12, .m8, .l8;

    .controls {

      a {
        @extend .waves-effect, .waves-light, .btn;
      }

      .get {
        @extend .light-green;
      }
      .cancel {
        @extend .grey;
      }

      .done {
        @extend .btn, .green-text, .text-darken-2, .white, .z-depth-1;
        margin-right: 20px;
        padding: 0 .5rem;
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }

    }

    //Who got it
    .progress-percent {
      box-sizing: border-box;
      font-weight: bold;
      text-align: right;
    }

    .user-achieved-list {
      img {
        width: 50px;
      }
      .and_more {
        @extend .circle, .blue-grey, .darken-1;
        color: #fff;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: top;
      }
    }

  }

  //Proof form, confirmation
  &.get-it {

    .no-proof-send {
      @extend .waves-effect, .waves-light, .btn, .light-green;
    }
  }

}

//Get a achievement
.achievement-proof {

  .collapsible-body {

    form {
      padding: 1rem 2rem;

      .proof-send {
        @extend .waves-effect, .waves-light, .btn, .light-green;
      }

    }

  }

}
