html {

  body {

    @extend .grey-text, .text-darken-3;

    //Main wrapper
    .wrapper {

      @extend .row, .container;

      box-sizing: border-box;
      //width: 95%;
      //max-width: 1600px;
      //margin: 0 auto;
      //padding: 0 5%;
    }


    //header

    header {

      nav {
        @extend .grey, .darken-3;
      }

    }

    //header end
    //main

    section {

      @extend .wrapper;

      //Sidebar

      aside {

        @extend .col, .s12, .m4, .l3;

        //Edit/Logout profile
        .card-action {

          .edit-profile {
            margin-right: 0 !important;
          }

          .logout-profile {
            @extend .right, .grey;

            margin-right: 0 !important;


          }

        }

        .small-user-card {
          .row {margin-bottom: 0;}
          h5 {
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        h5.cats-tags {
          font-weight: 300;
          margin-top: 30px;
        }

        .categories {}

        .tags {
          .chip {margin-bottom: 5px;}
        }

      }

      //Sidebar end
      //Content

      main {

        @extend .col, .s12, .m8, .l9;


      }

      //Content end
      //For login/registration

      &.login-registration {

        text-align: center;

        main {
          display: inline-block;
          width: auto;
          float: none;
          text-align: left;
        }

      }

      //For login/registration end
      //For no_sidebar

      &.no-sidebar {

        main {
          @extend .col, .s12, .m12, .l12;
        }

      }

      //For no_sidebar end

    }

    //main end


    //Global classes ==============================

    //notices
    .flash-message {

      position: absolute;
      width: 250px;
      top: 75px;
      right: 45px;
      opacity: .7;

      .system-message {

        margin-bottom: 5px;
        position: relative;
        top: 25px;
        opacity: 0;
        transition: opacity .5s ease-in, top .5s ease-in;

        &.notice {
          background: #4caf50;
        }
        &.warning, &.alert {
          background: #f44336;
        }

        .close-this {
          position: absolute;
          top: 5px; right: 5px;
          cursor: pointer;
        }
      }
    }

    $error-color: #F44336;
    $hint-color: #2196f3;

    .field_with_errors {
      input[type=text] {
        border-bottom: 1px solid $error-color;
        box-shadow: 0 1px 0 0 $error-color;
      }

      textarea {
        border-bottom: 1px solid $error-color;
        box-shadow: 0 1px 0 0 $error-color;
      }

      span {
        position: relative;
        top: -15px;
        font-size: 0.8rem;
        padding-right: 5px;

        &.error {color: $error-color;}
        &.hint {color: $hint-color;}

      }
    }




    //Social buttons
    .socbutton {
      font-size: 2rem;
      padding: 0 0.2rem;
      @extend .waves-effect, .waves-light, .btn, .white-text;

      &.socicon-facebook {
        background: #3b5998;
      }

      &.socicon-twitter {
        background: #00aced;
      }

      &.socicon-vkontakte {
        background: #45668e;
      }

      &.socicon-instagram {
        background: #125688;
      }

    }

    .not-link {
      @extend .waves-effect, .waves-light, .btn, .white-text;
      padding: 0 1rem;

    }

    .soclogin-block {

      padding-bottom: 25px;

      .card-title {
        display: block;
      }

      .soclogin {
        margin-right: 5px !important;
      }
    }


    //Pagination
    .pagination {

      .first, .last {
        padding: 0;

        i {width: 10px}
      }

      .active {
        @extend .white-text;
      }

    }


    //footer

    footer {

      @extend .grey, .darken-3;

      .footer-copyright {
        @extend .grey, .darken-2;
      }
    }
    //footer end

  }

}
