// Place all the styles related to the medals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.medals {

  @extend .row;

  .medal {
    @extend .col, .s12, .m6, .l6;

    .card-image {

      position: relative;

      .achievements-count {
        @extend .btn-floating, .btn-large, .light-green;

        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 24px;
        font-weight: 300;
      }

    }

    .card-content {

      .user-progress {
        height: 36px;
      }
    }

    .card-action {

      a, span {

        @extend .white-text, .waves-effect, .waves-light, .btn;

        i {}

        &.get {
          @extend .light-green;

        }
        &.info {
          @extend .blue;
          padding: 0 .5rem;
        }

      }

      span {margin-right: 20px;}

      .done {
        @extend .btn, .green-text, .text-darken-2, .white, .z-depth-1;
        margin-right: 20px;
        padding: 0 .5rem;
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }

    }



  }



}

.single-medal {

  @extend .row;

  .icon {

    @extend .col, .s12, .m4, .l4;

    img {

      @extend .responsive-img;

    }

  }

  .description {

    @extend .col, .s12, .m8, .l8;

    .controls {

      a, span {
        @extend .waves-effect, .waves-light, .btn;
      }

      .get {
        @extend .light-green;
      }
      .cancel {
        @extend .grey;
      }

      .done {
        @extend .btn, .green-text, .text-darken-2, .white, .z-depth-1;
        margin-right: 20px;
        padding: 0 .5rem;
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }

    }

    //Who got it
    .progress-percent {
      box-sizing: border-box;
      font-weight: bold;
      text-align: right;
    }

    .user-achieved-list {
      img {
        width: 50px;
      }
      .and_more {
        @extend .circle, .blue-grey, .darken-1;
        color: #fff;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: top;
      }
    }

    .medal-achievements {

      a {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;


        i {
          @extend .green-text;
          margin-right: 0;
          position: absolute;
          top: 0; left: 0;
          width: 100%;
          font-size: 42px;
          text-align: center;
          line-height: 100px;
          text-shadow: 0px 0px 7px #FFFFFF;

        }

        &.completed {
          i {opacity: 1; transition: all .3s linear;}
          img {opacity: .3; transition: all .3s linear;}

          &:hover {
            i {opacity: 0; transition: all .1s linear;}
            img {opacity: 1; transition: all .1s linear;}
          }

        }

      }

    }

  }

  //Proof form, confirmation
  &.get-it {

    .no-proof-send {
      @extend .waves-effect, .waves-light, .btn, .light-green;
    }
  }

}
