// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//edit profile



.tab-content {

  padding-top: 50px;
  @extend .row;

  .user-edit-info {

    @extend .col;

    &.left-col {
      @extend .s12, .m6, .l6;
    }

    &.right-col {
      @extend .s12, .m6, .l4;
    }

    .userpic-preview {
      position: relative;
      text-align: center;

      img {
        width: 100%;
        height: auto;
      }

      .delete {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0 0.7rem;
        opacity: 0;
        transition: opacity linear .5s;

        @extend .waves-effect, .waves-light, .btn, .red;

      }

      &:hover {
        .delete {
          opacity: 1;
          transition: opacity linear .3s;
        }

      }

    }

  }

  .information-controls {
    @extend .col, .s12, .m12, .l12;

    padding-top: 25px;
  }

}
