// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .users {



   .user-card {
     @extend .col, .s12, .m6, .l4;

     .row {
       margin-bottom: 0;

     }

     h5 {
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
     }

   }

 }
