.user-item {


  .item-image {

  }
  .item-info {

    .date {
      @extend .grey-text;
    }

    .proof {

      &.link {
        margin-top: 36px;
      }

      .proof-link {
        font-size: 24px;
        line-height: 24px;

        i {
          font-size: 28px;
          vertical-align: middle;
          position: relative;
          top: -2px;
        }

      }


    }

  }

  .item-more-info {
    padding-top: 20px;
  }
}
