<ul class="collapsible popout achievement-proof" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">check</i>Yes!</div>
    <div class="collapsible-body">

        <%= simple_form_for @achievement do |f| %>
            <%= f.fields_for :user_achieveds do |ua| %>

            <%= ua.input :have_proof, as: :hidden, input_html: { value: '1' } %>

                <%= ua.input :proof_type,
                             collection: ['Image', 'Text', 'Link'],
                             label: false,
                             selected: 'Image',
                             wrapper: :materialize_input
                %>

              <div class="file-field input-field image_proof">
                <div class="btn">
                  <span>Proof Image</span>
                  <%= ua.input :proof_image, as: :file, label: false %>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path" type="text">
                </div>
              </div>

              <%= ua.input :proof, label: 'Proof link', wrapper: :materialize_input %>

              <%= ua.input :proof,
                          label: 'Proof text',
                          as: :text,
                          input_html: { class: 'materialize-textarea' },
                          wrapper: :materialize_input
              %>

            <% end %>

            <%= f.button :submit, 'Complete!', class: 'proof-send' %>
        <% end %>

    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">close</i>No...</div>
    <div class="collapsible-body">

        <%= simple_form_for @achievement do |f| %>
          <%= f.fields_for :user_achieveds do |ua| %>
              <%= ua.input :have_proof, as: :hidden, input_html: { value: '0' } %>
          <% end %>
            No problem, just a
            <%= f.button :submit, 'Take it!', class: 'proof-send' %>
        <% end %>

    </div>
  </li>
</ul>

