<div class="achievements">
<% @achievements.each do |achievement| %>
      <div class="achievement">
        <div class="card">
          <div class="card-image">
            <%= image_tag achievement.achievement_icon.url(:large) %>
            <span class="card-title"><%= achievement.title %></span>
          </div>
          <div class="card-content">
            <p><%= achievement.description %></p>
          </div>
          <div class="card-action">
          <% if user_signed_in? && (achievement.user_ids.include? @user.id) %>
            <%= link_to ('<i class="material-icons left">done_all</i>Done').html_safe,
                        user_achievement_path(@user.id, achievement.id),
                        class: 'done'
            %>
          <% else %>
            <%= link_to ('<i class="material-icons">check</i>').html_safe,
                        edit_achievement_path(achievement.id),
                        class: 'get'
            %>
          <% end %>
            <%= link_to ('<i class="material-icons">info_outline</i>').html_safe,
                        achievement_path(achievement.id),
                        class: 'info'
            %>
          </div>
        </div>
      </div>
<% end %>
</div>
