<div class="single-achievement get-it">
  <div class="icon">
    <%= image_tag @achievement.achievement_icon.url(:large), alt: @achievement.title %>
  </div>
  <div class="description">

    <h3>Ok, you have a proof for this achievement?</h3>

    <%= render partial: 'form' %>

    <div class="controls">
      <%= link_to 'Back', :back %>
    </div>

  </div>

</div>







