<div class="single-achievement">
  <div class="icon">
    <%= image_tag @achievement.achievement_icon.url(:large), alt: @achievement.title %>
  </div>
  <div class="description">
    <h3><%= @achievement.title %></h3>
    <p><b>Categories:</b>
      <% @achievement.categories.each do |cat| %>
        <%= link_to cat.title, achievements_path(cat: cat.id) %>
      <% end %>
    </p>
    <p><b>Tags:</b>
      <% @achievement.tags.each do |tag| %>
        <%= link_to tag.name, achievements_path(tag: tag.id) %>
      <% end %>
    </p>
    <p><%= @achievement.description %></p>

    <div class="controls">
      <% if user_signed_in? && (@achievement.user_ids.include? @user.id) %>
        <%= link_to ('<i class="material-icons left">done_all</i>Done').html_safe,
                    user_achievement_path(@user.id, @achievement.id),
                    class: 'done'
        %>
      <% else %>
        <%= link_to ('<i class="material-icons left">done</i> Get it!').html_safe,
                    edit_achievement_path(@achievement.id),
                    class: 'get'
        %>
      <% end %>

      <%= link_to 'Cancel', :back, class: 'cancel' %>
    </div>

    <h5>Who got it</h5>
    <div class="progress-percent"><%= percent @achievement %> off all users</div>
    <div class="progress">
      <div class="determinate" style="width: <%= percent @achievement %>"></div>
    </div>

    <div class="user-achieved-list">
      <% last_twelve(@achievement).each do |lt| %>
      <%= link_to (image_tag lt.user.userpic.url(:thumb), class: 'circle'),
          user_path(lt.user.id),
          class: 'tooltipped',
          data: { position: 'top', delay: '25', tooltip: lt.user.name }
      %>
      <% end %>
      <%= and_more @achievement %>
    </div>

  </div>

</div>
