<div class="single-achievement get-it">
    <div class="icon">
      <%= image_tag @achievement.achievement_icon.url(:large), alt: @achievement.title %>
    </div>
    <div class="description">

    <h3>Congrats, you get achievement "<%= @achievement.title %>"</h3>
    <h4>Tell your friends about this</h4>
    <p>Share in social media</p>
    <%= link_to 'Back', achievements_path %>

    </div>

</div>
