<h1>Categories</h1>

<% @categories.each do |category| %>

    <h1><%= link_to category.title, category_path(category) %></h1>
    <p><%= category.description %></p>
    Icon: <i><%= category.icon %></i><br>
    Slug: <i><%= category.slug %></i>

<% end %>