<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">
      <%= link_to 'ProgressBook', root_path, target: '_blank' %>
      <span><%= link_to '/dashboard', dashboard_path %></span>
    </span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdown1">
          Catalogization
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>

      <li>
        <a class="dropdown-button actions" href="#!" data-activates="dropdown2">
          Actions
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>

      <li><%= link_to 'Users', dashboard_users_path %></li>
    </ul>
  </div>
</nav>
<div class="session">
  <%= link_to 'logout', destroy_user_session_path %>
</div>

<!-- Dropdown 1 -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Categories', dashboard_categories_path %></li>
  <li><%= link_to 'Tags', dashboard_tags_path %></li>
</ul>

<!-- Dropdown 2 -->
<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to 'Achievements', dashboard_achievements_path %></li>
  <li><%= link_to 'Medals', dashboard_medals_path %></li>
  <li><%= link_to 'Quests', '#' %></li>
  <li><%= link_to 'Challenges', '#' %></li>
</ul>