<!DOCTYPE html>
<html>
<head>
  <title>AchievementLife</title>
  <%= stylesheet_link_tag    'application-dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application-dashboard', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'dashboard/shared/header' %>
  <div class="container">

    <%= render 'dashboard/shared/sidebar' %>

    <%= render 'shared/notices' %>
    <%= yield %>

  </div>
  <%= render 'dashboard/shared/footer' %>
</body>
</html>
