<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>
<body>

    <%= render partial: 'shared/header' %>

    <section class="login-registration">

        <main>
            <%= render partial: 'shared/notices' %>
            <%= yield %>
        </main>

    </section>

    <%= render partial: 'shared/footer' %>

</body>
</html>
